@model List<OnlineShop.ViewModels.LookInCartVM>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860

*@
<style>
    input[type=number] {
        width: 50px;
    }
</style>

@if (Model.Count() == 0)
{
    <h5 style="text-align:center;">U košarici nema artikala.</h5>
    <br />
    <h6 style="text-align:center;"> <a href="/Home">Kreni sa kupovinom.</a> </h6> }
else
{
    <table style="background-color:white;" class="table table-hover" border="1">
        <tr style="background-color: #696969; color: #fff">
            <th>Šifra proizvoda</th>
            <th>Naziv proizvoda</th>
            <th>Kategorija</th>
            <th>Količina</th>
            <th>Cijena po komadu</th>
            <th>Ukupno</th>
            <th>Akcija</th>
            @if (Model.Any(p => p.ActualQuantity < p.Quantity)) {<th>Napomena</th> }
        </tr>
        @foreach (var x in Model)
        {
            <tr id="row-@x.ProductID">
                <td><img src="~/images/@x.logourl" height="40" width="40" /> @x.ProductNumber</td>
                <td><a style="color:black;" href="javascript:void(0)" onclick="location.href='/Product/ProductDetails?ID=@x.ProductID'">@x.ProductName</a></td>
                <td>@x.SubCategoryName</td>
                <td>
                    <input id="@x.ProductID" type="number" min="1" max="@x.ActualQuantity" value="@x.Quantity" />
                    <script>
                    $("#@x.ProductID").change(function () {
                        var x = $("#@x.ProductID").val();
                        $.get("/Cart/SetQuantity?productid=@x.ProductID&q=" + x, function (res) {
                            $("#tabela").html(res);
                        });
                        $("#row-@x.ProductID").css({ 'background-color': '#91BD09', 'opacity': '0.95','transition':'width 2s' });
                    });
                    </script>

                </td>
                <td>@x.UnitPrice BAM</td>
                <td>@(x.Quantity * x.UnitPrice) BAM</td>
                <td>
                    <button id="btn-@x.ProductID">Ukloni iz korpe</button>
                    <script>
                        $("#btn-@x.ProductID").click(function () {
                            $.get("/Cart/RemoveFromCart?productid=@x.ProductID", function (Res) {
                                $("#tabela").html(Res);
                            });
                        });
                    </script>
                </td>
               @if(@x.ActualQuantity<@x.Quantity){<td>Artikal više nije dostupan u željenoj količini (@x.Quantity) <br />Za nastavak narudžbe uklonite isti iz korpe ili smanjite količinu na raspoloživu (@x.ActualQuantity)</td>}
            </tr>
        }



    </table>
    <br />

    <text><h3>Ukupno: @Model.Sum(s => s.UnitPrice * s.Quantity) KM</h3></text>

    if (Model.All(s => s.ActualQuantity >= s.Quantity)){<button id="proceed">Naruči</button> }
    else{<button disabled id="proceed">Naruči</button> }




    <button style="margin:5px" id="delete">Očisti korpu</button>
    <br />
    <a href="/Home">Nazad na kupnju</a>


}

<script>
    $("#delete").click(function () {
        $.get("/Cart/DeleteCart", function (res) {
            $("#tabela").html(res);
        });
    });
    $("#proceed").click(function () {
        document.location = "/Order/OrderPreview";
    });
</script>