@model List<ShowOrdersVM>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
    <table border="1">
        @foreach (var x in Model)
        {
            <tr style="background-color: #696969; color: #fff">
                <th>Narudžba ID</th>
                <th>Datum narudžbe</th>
                <th>Datum slanja</th>
                <th>Korisnik</th>
                <th>Ukupna cijena</th>
                <th>Narudžba isporučena</th>
                <th>Akcija</th>
            </tr>
            <tr>

                <td>@x.OrderID</td>
                <td>@x.OrderDate</td>
                <td>@x.ShipTime</td>
                <td><a href="#">@x.UserInfo</a></td>
                <td>@x.TotalPrice</td>
                <td>@(x.IsShipped ? "Da" : "Ne")</td>  @*//bit ce clickable, kad klikne na checkbox da postane true ako je na false, ako je na true tj isporuceno disableovana je opcija*@
                <td>
                    @if (x.IsShipped)
                    {<button disabled id="edit">Uredi</button>}
                    else
                    { <button id="edit" onclick="Edit(@x.OrderID)">Uredi</button>}
                </td>
            </tr>
            <tr style="background-color: #bfbfbf; color: #fff">
                <th>Naziv proizvoda</th>
                <th>Količina</th>
            </tr>
            @foreach (var y in x.Items)
            {
                <tr>
                    <td>@y.ProductName</td>
                    <td>@y.Quantity</td>
                </tr>
            }
        }

    </table>

<script>
    function Edit(id) {
        $.get("/Administration/EditOrder?id=" + id, function (res) {
            $("#table").html(res);
        });
    }
</script>