@model List<ShowOrdersVM>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

*@


<table border="1">
    @foreach (var x in Model)
    {
        <tr style="background-color: #696969; color: #fff">
            <th>Narudžba ID</th>
            <th>Datum narudžbe</th>
            <th>Datum slanja</th>
            <th>Korisnik</th>
            <th>Ukupna cijena</th>
            <th>Stanje narudžbe</th>
            <th>Akcija</th>
        </tr>
        <tr>

            <td>@x.OrderID</td>
            <td>@x.OrderDate</td>
            <td>@x.ShipTime</td>
            <td><a href="javascript:void(0)" onclick="location.href='/Administration/UserDetails?id=@x.UserID'">@x.UserInfo</a></td>
            <td>@x.TotalPrice</td>
            <td>@x.Status</td>
            <td>
                <button id="edit" onclick="Edit(@x.OrderID)">Detalji</button>
            </td>
        </tr>

    }

</table>

<script>
    function Edit(id) {
        $.get("/Administration/EditOrder?id=" + id, function (res) {
            $("#table").html(res);
        });
    }
</script>