@model OnlineShop.ViewModels.OrderPreviewVM
@{
//Layout = null;  FILLED INFO BOOLEAN, OMOGUCAVA NASTAVAK ORDERA, ako je false onda je disabled zakljuci narudzbu plus moras ispunit podatke da bi nastavio sa narudzbom, user controller il sta vec
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OrderPreview</title>
</head>
<body>
    <h2 style="color:maroon">Pregled narudžbe</h2> <br />

    <table border="1">
        <tr>
            <th>Šifra proizvoda</th>
            <th>Naziv proizvoda</th>
            <th>Kategorija</th>
            <th>Količina</th>
            <th>Cijena po komadu</th>
            <th>Ukupno</th>
        </tr>
        @foreach (var x in Model.cartitems)
        {
            <tr>
                <td>@x.ProductNumber</td>
                <td>@x.ProductName</td>
                <td>@x.SubCategoryName</td>
                <td>
                    <input type="number" readonly value="@x.Quantity" />
                </td>
                <td>@x.UnitPrice BAM</td>
                <td>@(x.Quantity * x.UnitPrice) BAM</td>
            </tr>


        }
    </table> <br />
    <text><h3>Ukupno: @Model.cartitems.Sum(s => s.UnitPrice * s.Quantity) KM</h3></text> <br /> <br />

    <h3>Podaci za slanje </h3> <br />
    <input readonly value="@Model.fname " /> <br />
    Ime <br />
    <input readonly value="@Model.lname " /> <br />
    Prezime <br />
    <input readonly value="@Model.adress " /> <br />
    Adresa <br />
    <input readonly value="@Model.phonenumber" /> <br />
    Broj telefona <br />
    @if (Model.FilledInfo == false)
    {<button disabled id="finish">Zaključi narudžbu</button> <text>Potrebne informacije za slanje pošiljke nisu evidentirane ! Uredite profil <a href="#">ovdje</a> NEK OVO NEKO IMPLEMENTIRA HE HE /User/ChangeInfo <br /></text>}
    else
    {<button id="finish">Zaključi narudžbu</button> <br />} 
    
    <button id="continue">Nastavi sa kupovinom</button> <br />

</body>
</html>
<script>
    $("#continue").click(function () {
        document.location = "/Product/Show2";
    });

    $("#finish").click(function () {
        document.location = "/Order/SaveOrder";
    });


</script>

