@using OnlineShop.ViewModels

@model ProductDetailsVM
@{
    ViewData["Title"] = "ProductDetails";
    //var photoPath = "~/images/" + (Model.Image);
   

}


<style>
    #mainDiv{
        height:555px;
        margin:auto;
    }

    #leftDiv{
        float:left;
        height:555px;
        width:50%;
    }
    
    #rightDiv{
        float:left;
        height:555px;
        width:50%;
    }

    #title {
        width:100%;
        height:120px;
    }

    #rightContent{
        width:100%;
        height:300px;
    }

    #rightFooter{
        height:70px;

    }

    #imagediv2{
        width:70%;
        height:60%;
        background-color:white;
        margin:50px;
        height:auto;
        width:auto;
    }

    #picture{
         max-width: 95%;
        max-height: 90%;
        margin:auto;
        height: auto;
        width: auto\9;
        object-fit: cover;
    }

    #rightContent{
        width:100%;
        height:350px;
        text-align:left;
    }

    #textarea {
        width: 100%;
        height: 300px;
        text-align: left;
        overflow:hidden;
        resize: none;
    }

    #button:hover {
        cursor: default;
    }

</style>



<div id="mainDiv">
    <div id="leftDiv">
        <div id="imagediv2">
            <img id="picture" src="~/images/@(Model.ImageUrl)" />

        </div>
        @*<img src="/partners@(item.AdPath)" alt="" id="adimg"
             title="@item.AdName" width:"50px" height="50px" />*@
    </div>
        <div id="rightDiv">
            <div id="title">
                <input asp-for="ProductID" hidden />
                <h2>@Model.ProductName</h2>
                <h4>Proizvođač : @Model.ManufacturerName</h4>
                <h6>Stanje :  
                <input id="button" type="button" readonly class="btn btn-success" value="Novo" />
                </h6>
            </div>
            <div id="rightContent">
                <p style="text-align: left;"><b>Opis proizvoda :</b></p>
                <textarea id="textarea" readonly style="border:none">
                @Model.Description
                </textarea>
            </div>
            <div id="rightFooter">

                <h5>Cijena: @Model.UnitPrice KM sa  PDV-om</h5>
                <button class="btn btn-primary" onclick="AddToCart(@Model.ProductID)">Dodaj u korpu</button>


            </div>
        </div>
</div>

