@using OnlineShop.ViewModels

@{
    ViewData["Title"] = "ShowProducts";

}



@model List<ShowProductsVM>


<style>
    #maindiv {
        width: 25%;
        float: left;
        margin: 5px;
        height: 450px;
        padding: 0px;
    }

        #maindiv:hover {
            opacity: 0.9;
        }

    #Added {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100%;
        height: 50px;
        padding: 15px 25px 15px 10px;
        line-height: 16px;
        color: #fff;
        background-color: #91BD09;
        opacity: 0.95;
        text-align: center;
        box-sizing: border-box;
        border-radius: 0px 0px 5px 5px;
    }

    .card-text {
        color: black;
    }


    a:hover {
        text-decoration: none;
    }


    #imagediv {
        width: auto;
        height: auto;
        display: flex;
        height: 170px;
    }

    #header {
        height: 70px;
    }

    #content {
        height: 60px;
    }

    #button {
        text-align: center;
    }

    #slika {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto\9;
        object-fit: cover;
    }

    #test {
        width: 42%;
        margin: auto;
        margin-bottom: 15px;
    }
</style>


<div id="Added">
    Artikal uspješno dodan u korpu !

</div>

<div id="test">

    <form method="get" asp-action="ShowProducts" asp-route-ID="@ViewBag.ID" asp-route-search="search">

        <p @ViewBag.ID />

        <input type="search" placeholder="Unesite naziv proizvoda" value="@ViewData["data"]" name="search" />
        <input type="submit" class="btn btn-primary" value="Pretraži" />

    </form>

</div>

<h5>@ViewBag.Name</h5>

<br />

@foreach (var o in Model)
{

    <div id="maindiv" class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card h-100">

            <div id="imagediv">

                <a href="/Product/ProductDetails?ID=@o.productID">

                    <img id="slika" src="~/images/@o.imageUrl" alt="">
                </a>
            </div>

            <div class="card-body">
                <div id="header">
                    <a style="color: blue " id="title" href="/Product/ProductDetails?ID=@o.productID">
                        <h4 class="card-title">
                            @o.productName
                        </h4>
                    </a>
                </div>
                <div id="content">

                    <p class="card-text">Cijena : @o.unitPrice   KM</p>
                    <p class="card-text">Proizvođač : @o.manufacturerName</p>
                    <input type="number" id="@o.productID" value="1" min="1" />
                    <br><br />
                    <div id="button">
                        <button class="btn btn-primary" onclick="AddToCart(@o.productID)">Dodaj u košaricu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>

    function AddToCart(id) {

        var quantity = document.getElementById(id).value;
        //user,productid,quantity are sent
        var request = new XMLHttpRequest();
        request.onreadystatechange = function () { };
        request.open('POST', "/Cart/AddToCart/?productid=" + id + "&userid=" + 6 + "&q=" + quantity);
        request.send()
        document.getElementById(id).value = 1;
        document.getElementById("Added").style.display = "block";
        setTimeout(function () {
            document.getElementById("Added").style.display = "none";
        }, 3500);

        //alert("Proizvod dodan u korpu !");
    }

</script>